<h1>HttpClient and RxJS Observable Combiners</h1>

This example shows how to use key RxJS operators and methods to combine
observables into useful results.

<h2>Character Search</h2>
Enter a Star Wars character name (partial names are fine):
<br />
<form [formGroup]="formGroup">
  <input type="text" formControlName="characterName" />
</form>

@if(charactersBySearch$) {
<ul>
  @for(char of charactersBySearch$ | async; track char.name) {
  <li>{{ char.name }}</li>
  }
</ul>
}

<h2>Characters</h2>
@if(charactersAndPlanets) {
<ul>
  @for(char of charactersAndPlanets.characters; track char.name) {
  <li>{{ char.name }}</li>
  }
</ul>
} @else { Loading... }

<h2>Planets</h2>
@if(charactersAndPlanets) {
<ul>
  @for(planet of charactersAndPlanets.planets; track planet.name) {
  <li>{{ planet.name }}</li>
  }
</ul>
} @else { Loading... }

<h2>People and Homeworlds (concatMap - slowest)</h2>
@if(charactersWithHomePlanets_concatMap$ | async; as chars) {
<ul>
  @for(char of chars; track char.name) {
  <li>
    {{ char.name }}
    @if(char.homePlanet) { ({{ char.homePlanet.name }}) } @else { (unknown) }
  </li>
  }
</ul>
} @else { Loading... }

<h2>People and Homeworlds (mergeMap - slow)</h2>
@if(charactersWithHomePlanets_mergeMap$ | async; as chars) {
<ul>
  @for(char of chars; track char.name) {
  <li>
    {{ char.name }}
    @if(char.homePlanet) { ({{ char.homePlanet.name }}) } @else { (unknown) }
  </li>
  }
</ul>
} @else { Loading... }

<h2>People and Homeworlds (forkJoin - fastest)</h2>
@if(charactersWithHomePlanets_forkJoin$ | async; as chars) {
<ul>
  @for(char of chars; track char.name) {
  <li>
    {{ char.name }}
    @if(char.homePlanet) { ({{ char.homePlanet.name }}) } @else { (unknown) }
  </li>
  }
</ul>
} @else { Loading... }

<h2>People and Homeworlds (switchMap - FAIL!)</h2>
<i>Only emits the last Character.</i>
@if(charactersWithHomePlanets_switchMap_FAIL$ | async; as chars) {
<ul>
  @for(char of chars; track char.name) {
  <li>
    {{ char.name }}
    @if(char.homePlanet) { ({{ char.homePlanet.name }}) } @else { (unknown) }
  </li>
  }
</ul>
} @else { Loading... }

<br /><br />

<button
  [disabled]="!charactersAndPlanets"
  (click)="showCharactersAndPlanetsJSON = !showCharactersAndPlanetsJSON"
>
  Show Characters and Planets
</button>
&nbsp;&nbsp;
<button
  [disabled]="!(lukeWithHomePlanet$ | async)"
  (click)="showLukeWithHomePlanetJSON = !showLukeWithHomePlanetJSON"
>
  Show Luke with his Home Planet
</button>

@if(showCharactersAndPlanetsJSON){
<pre
  >{{ charactersAndPlanets | json }}
</pre>
} @if(showLukeWithHomePlanetJSON){

<pre
  >{{ lukeWithHomePlanet$ | async | json }}
  </pre
>
}

<br /><br />
