<h1>RxJS Subjects</h1>

<br />
<h1>Subscription 1</h1>
<button class="btn btn-primary" (click)="subscribe1()">
  Subscribe to Observable
</button>
<br /><br />
<ul>
  @for(dataItem of subscription1Data; track dataItem.name){
  <li>{{ dataItem }}</li>
  }
</ul>

<br />
<h1>Subscription 2</h1>
<button class="btn btn-primary" (click)="subscribe2()">
  Subscribe to Observable
</button>
<br /><br />
<ul>
  @for(dataItem of subscription2Data; track dataItem.name){
  <li>{{ dataItem }}</li>
  }
</ul>

<br />
<h1>Subscription 3</h1>
<button class="btn btn-primary" (click)="subscribe3()">
  Subscribe to Observable
</button>
<br /><br />
<ul>
  @for(dataItem of subscription3Data; track dataItem.name){
  <li>{{ dataItem }}</li>
  }
</ul>
