div {
    margin-top: 20px;
}

button {
    background-color: #e5e5e5;
    border: 0;
    margin-left: 10px;
}

.highlight {
  background-color: lightblue;
  font-size: 110%;
  padding: 1rem;
  width: 30%;
}
