@if (isLoading()) {
  Loading...

} @else {
  <input type="text"
    (input)="onSearchQuery($event)"
    title="Search Query"
    placeholder="Search query"
    [disabled]="!!selectedCustomer()">

  @for(customer of filteredCustomers(); track customer.id) {

    <div [class.highlight]="isEditingCustomer(customer)">

      @if(isEditingCustomer(customer)) {

        <!-- Customer editing dialog -->
        <input type="text"
            [value]="selectedCustomer()!.name"
            (input)="onCustomerNameChange($event)"
            title="customer name">
        <button (click)="save()">Save</button>
        <button (click)="cancel()">Cancel</button>

      } @else {

        {{customer.name}}
        <button (click)="editCustomer(customer)">Edit</button>
      }

    </div>

  }
}
