<div class="control-panel">
  <div class="button-panel">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="getVillains()"
      matTooltip="Refresh the villains"
    >
      Refresh
    </button>
    @if(!selectedVillain) {
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="enableAddMode()"
      matTooltip="Add a new villain"
    >
      Add
    </button>
    }
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    @if(villains) {
    <div>
      @if(loading) {
      <mat-spinner mode="indeterminate" color="accent"></mat-spinner>

      } @else {
      <app-villain-list
        [villains]="villains"
        [selectedVillain]="selectedVillain"
        (deleted)="deleteVillain($event)"
        (selected)="onSelect($event)"
      ></app-villain-list>
      }
    </div>
    }
  </div>
  <div class="detail-container">
    @if(selectedVillain) {
    <app-villain-detail
      [villain]="selectedVillain"
      (unselect)="unselect()"
      (add)="add($event)"
      (update)="update($event)"
    >
    </app-villain-detail>
    }
  </div>
</div>
