<div class="control-panel">
  <div class="button-panel">
    <button mat-raised-button color="primary" type="button" (click)="getVillains()" matTooltip="Refresh the villains">Refresh</button>
    <button mat-raised-button color="primary" type="button" (click)="enableAddMode()" *ngIf="!selected" matTooltip="Add a new villain">Add</button>
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    <div *ngIf="villains$ | async as villains">
      <mat-spinner *ngIf="loading$ | async; else villainList" mode="indeterminate" color="accent"></mat-spinner>
      <ng-template #villainList>
        <app-villain-list [villains]="villains" [selectedVillain]='selected' [commands]="commands"></app-villain-list>
      </ng-template>
    </div>
  </div>
  <div class="detail-container">
    <app-villain-detail *ngIf="selected" [villain]="selected" [commands]="commands">
    </app-villain-detail>
  </div>
</div>
