// https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@include mat.core();

$primary:       mat.define-palette(mat.$blue-palette, 800);
$accent:        mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn:          mat.define-palette(mat.$deep-orange-palette);
$light-theme:   mat.define-light-theme($primary, $accent, $warn);
@include mat.all-component-themes($light-theme);
