<div class="control-panel">
  <div class="button-panel">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="getHeroes()"
      matTooltip="Refresh the heroes"
    >
      Refresh
    </button>
    @if(!selectedHero){
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="enableAddMode()"
        matTooltip="Add a new hero"
      >
        Add
      </button>
    }
  </div>
</div>
<div class="content-container">
  <div class="list-container">
    @if(heroes){
      <div>
        @if(loading) {
          <mat-spinner mode="indeterminate" color="accent"/>
        } @else {
          <app-hero-list
            [heroes]="heroes"
            [selectedHero]="selectedHero"
            (deleted)="deleteHero($event)"
            (selected)="onSelect($event)"
          />
        }
      </div>
    }
  </div>
  <div class="detail-container">
    @if(selectedHero) {
      <app-hero-detail
        [hero]="selectedHero"
        (unselect)="unselect()"
        (add)="add($event)"
        (update)="update($event)"
      />
    }
  </div>
</div>
