<mat-card>
  <mat-card-header>
    <mat-card-title>Customers</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="customers">
      <li *ngFor="let customer of customers; trackBy: byId" class="item-container">
        <button mat-button mat-suffix mat-icon-button color="accent" class="delete-button" aria-label="Delete" (click)="deleteCustomer(customer)"
          matTooltip="Delete the hero">
          <mat-icon>delete</mat-icon>
        </button>
        <div class="selectable-item" [class.selected]="customer === selectedCustomer" (click)="onSelect(customer)">
          <div class="badge">{{customer.id}}</div>
          <div class="item-text">
            <div class="name">{{customer.name}}</div>
            <div class="saying">{{customer.city}}</div>
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
