<app-filter-textbox (changed)="filter($event)"></app-filter-textbox>
<br />
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('city')">City</th>
      <th (click)="sort('orderTotal')">Order Total</th>
      <th colspan="2">&nbsp;</th>
    </tr>
  </thead>
  @for(cust of filteredCustomers; track cust.id) {
  <tr>
    <td>{{ cust.name | capitalize }}</td>
    <td>{{ cust.city }}</td>
    <td>{{ cust.orderTotal | currency : currencyCode : "symbol" }}</td>
    <td><a [routerLink]="['/orders', cust.id]">Orders</a></td>
    <td><a [routerLink]="['/customers', cust.id]">Edit</a></td>
  </tr>
  } @if(filteredCustomers && filteredCustomers.length) {
  <tr>
    <td colspan="2">&nbsp;</td>
    <td>
      {{ customersOrderTotal | currency : currencyCode : "symbol" }}
    </td>
    <td colspan="2">&nbsp;</td>
  </tr>
  } @else {
  <tr>
    <td colspan="4">No customers found</td>
  </tr>
  }
</table>
@if(filteredCustomers && filteredCustomers.length) { Number of Customers:
{{ filteredCustomers.length }} }<br />
